.gallery {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.galleryItem {
    width: 250px;
    height: 350px;
    margin: 1%;
    border: 2px solid antiquewhite;
    border-radius: 10px;
}

.caption {
    background-color: rgba(0,0,0,.40);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 247px;
    height: 247px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

img {
    width: 247px;
    height: 247px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid antiquewhite;
}

